# -------------------------
# Dependencies
# -------------------------
node_modules
.pnpm-store

# -------------------------
# Logs
# -------------------------
logs
*.log
npm-debug.log*
pnpm-debug.log*

# -------------------------
# System files
# -------------------------
.DS_Store

# -------------------------
# Git
# -------------------------
.git
.gitignore

# -------------------------
# Environment (IMPORTANT)
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# Build / Cache
# -------------------------
dist
build
.tmp
.cache
coverage

# -------------------------
# Docker
# -------------------------
Dockerfile

# -------------------------
# Misc
# -------------------------
*.zip
uploads