# Node app
NODE_ENV=
NODE_PEORT=
PORT=
BASE_URL=

# Database
DB_HOST=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_DIALECT=
DB_PORT=
DB_TRUST_CERT=
DB_ENCRYPT= true

# MSSQL
SA_PASSWORD=
AUTO_CREATE_DB=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
